
.container{
  height: auto;
  padding: 20px;
  /* margin: auto; */
  margin-top: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
}

.left-container{
  flex-basis: 50%;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 300px;
}

.right-container{
  flex-basis: 50%;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 300px;
  margin-top: auto;
margin-bottom: auto;
padding-right: 20px;}

.image{
  height: 60%;
  width: 60%;
}

.input-feild{
  position: relative;
  display: inline-block;
  width: 70%;
  margin: 10px;

}

input{
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  padding-left: 25px;
}

.icon{
  height: 16px;
  width: 16px;
  position: absolute;
  left: 2px;
  top: 8px;
  margin-right: 4px;
}

.button{
 background-color: rgb(60, 109, 234);
 outline: none;
 padding: 10px 20px;
 color: #ffffff;
 border-radius: 5px;
 border: none;
}

h1{
  text-align: left;
  margin-left: 78px;
  color: rgb(60, 61, 60);
}

.forgot-password{
  text-align: right;
  margin-right: 85px;
  color: rgb(1, 98, 130);
}
